<div class="div-container">
  <b>UUID: </b>
  <label id="lbl-uuid"></label>
</div>
<div class="div-container">
  <b>Talker: </b>
  <label id="lbl-talker"></label>
</div>
<div class="div-container">
  <video id="vid-local" autoplay muted></video>
</div>
<div id="vid-remote-container" class="div-container"></div>
<div class="div-container">
  <input id="checkbox-default-mute" type="checkbox" checked /> Mute by default
  <br />
  <button id="btn-talk">Force to Talk</button>
</div>
<input id="isCommander" type="hidden" value="<%= (user.role === 'commander') ? 'true' : 'false'; %>" />
<script src="webrtc.js"></script>
